.main-nav{
    top:0;
    left:-256px;
    height: 100%;
    background-color: #0d0d0d;
    color: #ffffff;
    z-index: 99999999999;
    display: flex;
    transition: left 350ms;
}
.main-nav >  div:nth-child(1){
    width: 256px;
}
.main-nav > div:nth-child(2){
    background-color:#ffffff;
    width:65px;
}

.main-nav ul li {
    font-size: 18px;
    transition: background-color  350ms, transform 350ms;
}
.main-nav ul li:hover{
    background-color:#939393 ;
    transform: translateX(10px);
}

.logo{
    max-width: 60px;
}
.text-grey{
    color: #939393;
}